
  body {
    min-width: 777px;
  }

  input[type='range'] {
    accent-color: #1f2937;
  }

  .active {
    background-color: white;
    color: black;
  }

  .tab:hover {
    background-color: #4b5563;
  }

  .active:hover {
    background-color: white;
    color: black;
  }

  .custom-border {
    border: 2px solid red;
    background-color: #f0f0f0;
    padding: 5px;
  }